.login-wrapper {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  border-left: 2px black;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.login-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
}

/* Input Fields */
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
}

.input-group input:focus {
  border-color: #1e90ff;
}

/* Login Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0066cc;
}


/* Footer Links */
.footer-links {
  text-align: center;
  margin-top: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #1e90ff;
  font-size: 0.9rem;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.error-text {
  color: red;
}