.sidebar {
  width: 550px;
  background-color: #f8f9fa; /* Light gray background */
  padding: 20px;
  border-right: 1px solid #e9ecef;
  font-family: 'Roboto', sans-serif;
  margin-top: 75px;
}

.sidebar h2 {
  font-size: 24px;
  font-weight: 700;
  color: #343a40;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 16px;
}

.sidebar a{
  text-decoration: none;
  color: black;
}

/* Card styling for each lecture */
.lecture-card {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 12px;
  padding: 20px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lecture-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.lecture-card a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #495057;
  display: block;
  transition: color 0.3s ease;
}

.lecture-card a:hover {
  color: #007bff;
}
