# init files

config.ini
*.db

# Virtualenvs

.env/
env/
venv/
.venv/

# Pycache

__pycache__/

# Devs tools files

.vscode/
alembic/

# Media Files

qr-code/
log_files/
lectures/
lecture_video/
lectures/
course_thumbnail/